#view-all-btn img {
    transition: all 0.3s ease;
  }
  
  #view-all-btn img:hover {
    content: url('https://s1.gifyu.com/images/SOHRm.png');
  }
  
  .day-btn img {
    transition: all 0.3s ease;
  }
  
  .day-btn img:hover {
    content: url('https://s1.gifyu.com/images/SOHRq.png');
  }
  
  